td .inline-edit-button {
    opacity: 0;
    /* Initially hide the button */
}

td:hover .inline-edit-button {
    opacity: 1;
    /* Show the button on hover */
}

th .sort-icon {
    opacity: 0;
    /* Initially hide the icon */
}

th:hover .sort-icon {
    opacity: 1;
    /* Show the icon on hover */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 1%;
    padding-bottom: 1%;
}